body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.login-container {
    color: #1968bc;
}

img{
    width: 200px;
    margin: 30px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.login-container input[type="submit"] {
    background-color: #004AAD;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 80%;
    margin: 30px 0 30px 0;
}
.login-container input[type="submit"]:hover {
    background-color: #155a99;
}
.login-container {
    color: red;
    margin: 10px 0;
}