body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    width: 1920px;
}

main {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.sidebar {
    width: 20%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-right: 20px;
    overflow: auto;
    position: relative;
}


.member-info {
    width: 80%;
    background-color: #e0e0e0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.member-info .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.member-info .member-id {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

.member-info .info-update {
    width: 50%;
    padding: 5px 10px;
    background-color: #004AAD;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px; /* 폰트 크기 조정 */
    transition: background-color 0.3s, color 0.3s;
    margin: 0 auto; /* 버튼을 가운데로 정렬 */
}

.member-info .info-update:hover {
    background-color: #003080;
}

.sidebar input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 16px;
}

.sidebar button {
    width: 100%;
    padding: 10px;
    background-color: #004AAD;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar button:hover {
    background-color: #003080;
}

.main-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.search-section, .result-section, .detail-section {
    width: 100%;
    margin-bottom: 20px;
}

.search-section input, .search-section select, .search-section button {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    width: 15%;
}

.result-section table, .detail-section table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.result-section th, .detail-section th, .result-section td, .detail-section td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    word-wrap: break-word;
}

.result-section th, .detail-section th {
    background-color: #f1f1f1;
}

.result-section tr:hover, .detail-section tr:hover {
    background-color: #f1f1f1;
}

/* 각 컬럼의 고정 너비를 설정 */
.result-section th:nth-child(1), .result-section td:nth-child(1) {
    width: 10%; /* 북마크 컬럼 */
}

.result-section th:nth-child(2), .result-section td:nth-child(2) {
    width: 15%; /* 환자 코드 컬럼 */
}

.result-section th:nth-child(3), .result-section td:nth-child(3) {
    width: 15%; /* 환자 이름 컬럼 */
}

.result-section th:nth-child(4), .result-section td:nth-child(4) {
    width: 10%; /* 검사 장비 컬럼 */
}

.result-section th:nth-child(5), .result-section td:nth-child(5) {
    width: 25%; /* 검사 부위 컬럼 */
}

.result-section th:nth-child(6), .result-section td:nth-child(6) {
    width: 10%; /* 검사 날짜 컬럼 */
}

.result-section th:nth-child(7), .result-section td:nth-child(7) {
    width: 10%; /* 판독 상태 컬럼 */
}

.result-section th:nth-child(8), .result-section td:nth-child(8) {
    width: 5%; /* Verify 컬럼 */
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pagination button {
    margin: 0 10px;
}

.chart {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.chart h3 {
    margin-top: 0;
}

.details-container {
    display: flex;
    width: 100%;
}

.detail-section {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin: 5px;
}

.detail-section input[type="text"], .detail-section select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #f9f9f9;
}

.detail-section input[type="text"]:focus, .detail-section select:focus {
    outline: none;
    border-bottom: 2px solid #004AAD;
}

.detail-section td {
    padding: 8px 10px;
}

.detail-section th {
    padding: 10px;
}

.detail-section th:nth-child(1), .detail-section td:nth-child(1) {
    width: 25%;
}

.detail-section th:nth-child(2), .detail-section td:nth-child(2) {
    width: 75%;
}

.detail-section table {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #004AAD !important;
    color: white !important;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    display: block;
    margin: 20px auto;
}

button:hover {
    background-color: #003080 !important;
    color: white !important;
}

button:focus {
    outline: none;
}

.button-container {
    display: flex;
    justify-content: center; /* 버튼들을 가운데로 모음 */
    gap: 10px; /* 버튼 사이의 간격 */
    margin-top: 20px;
}


.bookmark-btn {
    background: none !important;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 0;
    margin: 0;
}
.bookmark-btn:hover {
    background-color: gold !important;

}

/* 북마크된 상태 */
.bookmark-btn.bookmarked {
    color: gold;
}

/* 북마크되지 않은 상태 */
.bookmark-btn.not-bookmarked {
    color: gray !important;
}

.emergency-button {
    background-color: red !important;
    color: white !important;
}

.emergency-button:hover {
    background-color: #a50000 !important;
    color: white !important;
}